.root{
	-fx-background-color:CORNFLOWERBLUE;
}

.label {
-fx-font-size: 12px;
-fx-font-weight: bold;
-fx-text-fill: #333333;
-fx-effect: dropshadow( gaussian ,
rgba(255,255,255,0.5) , 0,0,0,1 );
}
label.setId("res");
#res {
-fx-font-size: 32px;
-fx-font-family: "Arial Black";
-fx-fill: #818181;
-fx-effect: innershadow( three-pass-box, rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.button {
-fx-text-fill: white;
-fx-font-family: "Arial Narrow";
-fx-font-weight: bold;
-fx-background-color: linear-gradient(#61a2b1, #2A5058);
-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ); 
}

.button:hover {
-fx-background-color: linear-gradient(#2A5058, #61a2b1);
}